html {
  font-family: "Open Sans", sans-serif;
}
html {
  font-family: "Raleway", sans-serif;
}
:root {
  --black: #303030;
  --white-color: #ffffff;
  --tomato: #ff6c00;
  --grey: rgba(157, 164, 189, 0.6);
  --grey-two: #9da4bd;
  --grey-three: #555555;
  --registration: rgba(157, 164, 189, 0.4);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
.header {
  background-color: var(--grey-three);
}
.hero {
  background-color: var(--grey-three);
}
.nav a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: var(--white-color);
}
.nav a:hover,
.nav a:focus {
  color: var(--tomato);
}
.tel {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);
}
.tel:hover,
.tel:focus {
  color: var(--tomato);
}
.recording {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white-color);
}
.recording {
  width: 160px;
  height: 40px;
  left: 689px;
  top: 1220px;
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
}
.recording:hover,
.recording:focus {
  color: var(--tomato);
}
.list-other {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: var(--white-color);
}
.list-other:hover,
.list-other:focus {
  color: var(--tomato);
}
.hero p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--grey);
}
h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: var(--white-color);
}
.hero .expert {
  text-transform: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--grey-two);
}
.best p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--black);
}
.best h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--black);
}
.best .best-go {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--grey-three);
}
.best .best-info {
  text-transform: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: var(--grey-three);
}
.best button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--black);
}
.best button {
  width: 160px;
  height: 40px;
  left: 689px;
  top: 1220px;
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
}
.price {
  background-color: var(--grey-three);
}
.price .slog {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--grey);
}
.price h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--white-color);
}
.price p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--grey-two);
}
.price button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white-color);
}
.price button {
  width: 160px;
  height: 40px;
  left: 565px;
  top: 1933px;
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
}

.statistics span {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--black);
}
.statistics p {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: var(--black);
}
.statistics h2 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--black);
}
.statistics .end {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--grey-three);
}

.masters .slog {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--black);
}
.masters h2 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--black);
}
.masters h3 {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: var(--black);
}
.masters p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: var(--tomato);
}
.galerey p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--black);
}
.order {
  background: var(--grey-three);
}
.order h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--white-color);
}
